*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  /* border: 1px solid red; */
}
html {
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(#8A2387, #E94057,#F27121);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

h1 {
  text-align: center;
  color: white;
}

.grid-container {
    width: 500px;
    height: 500px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 33.75rem) {
  .grid-container {
    width: 300px;
    height: 300px;
  }
  button {
    font-size: 1rem !important;
  }
}

.grid-container div {
    background-color: lightgray;
    border: 1px solid gray;
}

.actions {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  width: 100px;
}

button {
  padding: 0.5em 1em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 0;
  display: inline-block;
  margin: 0 0.2rem;
  font-size: 1.2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: transform 200ms;
  cursor: pointer;
  -webkit-transition: transform 200ms;
  -moz-transition: transform 200ms;
  -ms-transition: transform 200ms;
  -o-transition: transform 200ms;
}

button:focus {
  outline: 2px solid red;
  transform: scale(0.93);
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  -o-transform: scale(0.93);
}

button.black {
  background-color: black;
  color: white;
}

button.purple{
  background-color: purple;
  color: white;
}

button.rainbow {
  background-image: linear-gradient(to right,#1E9600, #FFF200, #FF0000);
  color: black;
}

button.reset {
  background-color: gray;
  color: white;
}
